{% extends "index.twig" %}

{% block page %}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>RAISECOM</b>
                {% if raisecom.status %}
                <div class="nav epon_menu">
                    {% for i in 1..4 %}
                        <a href="{{ path_for("gpon",{"id":raisecom.raisecom_id,"gpon": i}) }}" class="btn btn-default navbar-btn" role="button"><strong>Interface GPON-OLT 1/{{ i }}</strong></a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="panel-body" id="bd_summary">
                {% if raisecom.status %}
                    <ul class="list-group">
                        {% for key,pon in raisecom.pon %}
                            <li class="list-group-item">
                                <span class="badge">{{ pon }}</span>
                                <b>{{ key }}</b>
                            </li>
                        {% endfor %}
                    </ul>
                    <table class="table table-bordered epon_summ">
                        <tr>
                            <td>Summary:</td>
                            <td style="text-align: right">{{ raisecom.summary }}</td>
                        </tr>
                    </table>
                {% else %}
                    <table class="table table-bordered epon_summ">
                        <tr>
                            <td class="bg-danger" style="text-align: center">RAISECOM IS DOWN!!!</td>
                        </tr>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}